<div class="index-wrap" >
    <header id="top">
        <div class="logo" data-hash="recommend"></div>
        <div class="sea">
            <i class="sea-icon" data-hash="search"></i>
            <b class="sort-icon">&nbsp;&nbsp;</b>
        </div>
        <div class="sea-input" >
            <i class="sea-input-icon"></i>
            <input type="text" class="sea-content" >
            <i class="cancel" data-hash="recommend">取消</i>
        </div>
    </header>
    <nav >
            <ul class="tabbar1">
                <li data-hash="music">音单</li>
                <li class="active" data-hash="recommend">推荐</li>
                <li data-hash="sort">分类</li>
            </ul>
    </nav>
    <aside>
            <a href="#" class="entry1"  data-hash="login">
                 <img  class="login-pic" src="https://static.missevan.com/assets/images/home/default-icon.jpg" alt="">
                 <div class="login">点击登录</div>
             </a>
             <a href="#" class="entry2 entry">
                 <div class=" m  m-main" >M-主站</div>
             </a>
             <a href="https://baidu.com" class="entry3 entry">
                 <div class="m  m-zhibo">M-直播</div>
             </a>
             <a href="https://baidu.com" class="entry4 entry">
                 <div class="m   m-money">M-钱包</div>
             </a>
         </aside>
    <main></main>
    
   
</div>
<!-- <aside>
        <a href="./login.html" class="entry1">
             <img  class="login-pic" src="https://static.missevan.com/assets/images/home/default-icon.jpg" alt="">
             <div class="login">点击登录</div>
         </a>
         <a href="#" class="entry2 entry">
             <div class=" m  m-main" >M-主站</div>
         </a>
         <a href="https://baidu.com" class="entry3 entry">
             <div class="m  m-zhibo">M-直播</div>
         </a>
         <a href="https://baidu.com" class="entry4 entry">
             <div class="m   m-money">M-钱包</div>
         </a>
     </aside> -->