<div class="login-page">
    <div class="login-content">
       <form action="" class="form-group" id="user-form">
            <i class="group-head">登录&nbsp;猫耳FM</i>
            <input type="text" name="username" placeholder="手机号/邮箱" class="in-login">
            <div class="psd-content">
                <input type="text" name="password" placeholder="密码" class="in-psd" >
                <a href="#" class="forget-psd">忘记密码？</a>
            </div>
            <div class="attention">
               <label class="remember"> <input type="checkbox" class="gou"> 记住我</label>
               <i class="abroad">海外手机号登录</i>
            </div>
            <!-- <input type="submit" value="登录"  class="this-login" id="signin"> -->
            <span  id="signin"  class="this-login " >登录</span>
            <span class="register" id="signup">注册</span>
       </form>
       <div class="other-login">
        <i class="other-head">——————第三方登录——————</i>
        <div class="other-content">
            <a href="#" class="qq"></a>
            <a href="#" class="weibo"></a>
            <a href="#" class="bili"></a>
        </div>
       </div>
    </div>
    <footer>
            <div class="foot-con">
                <a href="#" class="client">客户端</a>
                <i class="logo-cat"></i>
                <a href="#top" class="return-top">返回顶部</a>
            </div>
            <div class="bottom">MissEvan弹幕音频网 京ICP备:14055174号-1</div>
        </footer>
</div>