<div class="content">
    
    <div class="banner" >
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://static.missevan.com/mimages/201904/18/534ce95b92c85254699a35667fa5810f030822.jpg" alt=""></div>
                <div class="swiper-slide"><img src="https://static.missevan.com/mimages/201908/04/cab0a099f60f9c6ee2a64686375362d3215748.png" alt=""></div>
                <div class="swiper-slide"><img src="https://static.missevan.com/mimages/201908/04/3f656f6684c0d76c13c46ce59a798f49200539.jpg" alt=""></div>
                <div class="swiper-slide"><img src="https://static.missevan.com/mimages/201906/16/12eeeb5c14e73db8d6622b3362cc6ec8115857.jpg" alt=""></div>
                <div class="swiper-slide"><img src="https://static.missevan.com/mimages/201908/02/d406b331eafa1be0e9505de6ae369d89182416.jpg" alt=""></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="list">
        
    </div>

</div>