<div class="small-list">
    <div class="head">
        <h4 >
            <i class="channel-icon"></i>
            人气M音
        </h4>
        <a href="#">
            <div class="more">
                排行榜
                <i class="more-icon"></i>
            </div>
        </a>
    </div>
    <ul>
        {{each info2}}
        <li>
            <a href="#">
                <div class="picture" data-img={{$value.front_cover}}>
                    <img src="https://static.missevan.com/web_app/lazy_load.png" alt="">
                </div>
                <div class="name">{{$value.soundstr}}</div>
                <div class="num">
                    <div class="num-left">
                        <i class="num-left-icon"></i>{{$value.view_count}}
                    </div>
                    <div class="num-right">
                        <i class="num-right-icon"></i>{{$value.catalog_id}}
                    </div> 
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</div>
<div class="small-list">
        <div class="head">
            <h4 >
                <i class="channel-icon"></i>
                有声漫画
            </h4>
            <a href="#">
                <div class="more">
                    更多
                    <i class="more-icon"></i>
                </div>
            </a>
        </div>
        <ul>
            {{each info2}}
            <li>
                <a href="#">
                    <div class="picture" data-img={{$value.front_cover}}>
                        <img src="https://static.missevan.com/web_app/lazy_load.png" alt="">
                    </div>
                    <div class="name">{{$value.soundstr}}</div>
                    <div class="num">
                        <div class="num-left">
                            <i class="num-left-icon"></i>{{$value.view_count}}
                        </div>
                        <div class="num-right">
                            <i class="num-right-icon"></i>{{$value.catalog_id}}
                        </div> 
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
</div>
<div class="small-list">
            <div class="head">
                <h4 >
                    <i class="channel-icon"></i>
                    广播剧
                </h4>
                <a href="#">
                    <div class="more">
                       更多
                        <i class="more-icon"></i>
                    </div>
                </a>
            </div>
            <ul>
                {{each info2}}
                <li>
                    <a href="#">
                        <div class="picture" data-img={{$value.front_cover}}>
                            <img src="https://static.missevan.com/web_app/lazy_load.png" alt="">
                        </div>
                        <div class="name">{{$value.soundstr}}</div>
                        <div class="num">
                            <div class="num-left">
                                <i class="num-left-icon"></i>{{$value.view_count}}
                            </div>
                            <div class="num-right">
                                <i class="num-right-icon"></i>{{$value.catalog_id}}
                            </div> 
                        </div>
                    </a>
                </li>
                {{/each}}
            </ul>
</div>
<div class="small-list">
                <div class="head">
                    <h4 >
                        <i class="channel-icon"></i>
                        音乐
                    </h4>
                    <a href="#">
                        <div class="more">
                            更多
                            <i class="more-icon"></i>
                        </div>
                    </a>
                </div>
                <ul>
                    {{each info2}}
                    <li>
                        <a href="#">
                            <div class="picture" data-img={{$value.front_cover}}>
                                <img src="https://static.missevan.com/web_app/lazy_load.png" alt="">
                            </div>
                            <div class="name">{{$value.soundstr}}</div>
                            <div class="num">
                                <div class="num-left">
                                    <i class="num-left-icon"></i>{{$value.view_count}}
                                </div>
                                <div class="num-right">
                                    <i class="num-right-icon"></i>{{$value.catalog_id}}
                                </div> 
                            </div>
                        </a>
                    </li>
                    {{/each}}
                </ul>
</div>
<div class="small-list">
    <div class="head">
        <h4 >
            <i class="channel-icon"></i>
            催眠
        </h4>
        <a href="#">
            <div class="more">
                更多
                <i class="more-icon"></i>
            </div>
        </a>
    </div>
    <ul>
        {{each info2}}
        <li>
            <a href="#">
                <div class="picture" data-img={{$value.front_cover}}>
                    <img src="https://static.missevan.com/web_app/lazy_load.png" alt="">
                </div>
                <div class="name">{{$value.soundstr}}</div>
                <div class="num">
                    <div class="num-left">
                        <i class="num-left-icon"></i>{{$value.view_count}}
                    </div>
                    <div class="num-right">
                        <i class="num-right-icon"></i>{{$value.catalog_id}}
                    </div> 
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</div>
<div class="small-list">
        <div class="head">
            <h4 >
                <i class="channel-icon"></i>
                娱乐
            </h4>
            <a href="#">
                <div class="more">
                    更多
                    <i class="more-icon"></i>
                </div>
            </a>
        </div>
        <ul>
            {{each info2}}
            <li>
                <a href="#">
                    <div class="picture" data-img={{$value.front_cover}}>
                        <img src="https://static.missevan.com/web_app/lazy_load.png" alt="">
                    </div>
                    <div class="name">{{$value.soundstr}}</div>
                    <div class="num">
                        <div class="num-left">
                            <i class="num-left-icon"></i>{{$value.view_count}}
                        </div>
                        <div class="num-right">
                            <i class="num-right-icon"></i>{{$value.catalog_id}}
                        </div> 
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
</div>
<div class="small-list">
            <div class="head">
                <h4 >
                    <i class="channel-icon"></i>
                    日抓
                </h4>
                <a href="#">
                    <div class="more">
                        更多
                        <i class="more-icon"></i>
                    </div>
                </a>
            </div>
            <ul>
                {{each info2}}
                <li>
                    <a href="#">
                        <div class="picture" data-img={{$value.front_cover}}>
                            <img src="https://static.missevan.com/web_app/lazy_load.png" alt="">
                        </div>
                        <div class="name">{{$value.soundstr}}</div>
                        <div class="num">
                            <div class="num-left">
                                <i class="num-left-icon"></i>{{$value.view_count}}
                            </div>
                            <div class="num-right">
                                <i class="num-right-icon"></i>{{$value.catalog_id}}
                            </div> 
                        </div>
                    </a>
                </li>
                {{/each}}
            </ul>
</div>
<div class="small-list">
        <div class="head">
            <h4 >
                <i class="channel-icon"></i>
                听书
            </h4>
            <a href="#">
                <div class="more">
                    更多
                    <i class="more-icon"></i>
                </div>
            </a>
        </div>
        <ul>
            {{each info2}}
            <li>
                <a href="#">
                    <div class="picture" data-img={{$value.front_cover}}>
                        <img src="https://static.missevan.com/web_app/lazy_load.png" alt="">
                    </div>
                    <div class="name">{{$value.soundstr}}</div>
                    <div class="num">
                        <div class="num-left">
                            <i class="num-left-icon"></i>{{$value.view_count}}
                        </div>
                        <div class="num-right">
                            <i class="num-right-icon"></i>{{$value.catalog_id}}
                        </div> 
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
</div>
<div class="small-list">
        <div class="head">
            <h4 >
                <i class="channel-icon"></i>
                铃声
            </h4>
            <a href="#">
                <div class="more">
                    更多
                    <i class="more-icon"></i>
                </div>
            </a>
        </div>
        <ul>
            {{each info2}}
            <li>
                <a href="#">
                    <div class="picture" data-img={{$value.front_cover}}>
                        <img src="https://static.missevan.com/web_app/lazy_load.png" alt="">
                    </div>
                    <div class="name">{{$value.soundstr}}</div>
                    <div class="num">
                        <div class="num-left">
                            <i class="num-left-icon"></i>{{$value.view_count}}
                        </div>
                        <div class="num-right">
                            <i class="num-right-icon"></i>{{$value.catalog_id}}
                        </div> 
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
</div>
<footer>
        <div class="foot-con">
            <a href="#" class="client">客户端</a>
            <i class="logo-cat"></i>
            <a href="#top" class="return-top">返回顶部</a>
        </div>
        <div class="bottom">MissEvan弹幕音频网 京ICP备:14055174号-1</div>
    </footer>