<div class="hot-head">热门搜索</div>
<div class="search-content">
  
    <div class="hot-search">
        {{each info}}
        <a href="#" class="label">
           {{$value.key}}
        </a>
        {{/each}}
    </div>
    <footer>
            <div class="foot-con">
                <a href="#" class="client">客户端</a>
                <i class="logo-cat"></i>
                <a href="#top" class="return-top">返回顶部</a>
            </div>
            <div class="bottom">MissEvan弹幕音频网 京ICP备:14055174号-1</div>
        </footer>
</div>